<app-top-bar></app-top-bar>

<div class="container">
  <router>
    <route path="/products/:productId">
      <app-product-details *routeComponent></app-product-details>
    </route>
    <route path="/cart">
      <app-cart *routeComponent></app-cart>
    </route>
    <route path="/shipping">
      <app-shipping *routeComponent></app-shipping>
    </route>
    <route path="/">
      <app-product-list *routeComponent></app-product-list>
    </route>
  </router>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
