<mat-grid-list cols="1">
  <mat-grid-tile>
    <mat-nav-list>
      <a mat-list-item linkTo="1" linkActive="mat-list-single-selected-option"
        >Profile 1</a
      >
      <a mat-list-item linkTo="2" linkActive="mat-list-single-selected-option"
        >Profile 2</a
      >
      <a mat-list-item linkTo="3" linkActive="mat-list-single-selected-option"
        >Profile 3</a
      >
      <a mat-list-item linkTo="4" linkActive="mat-list-single-selected-option"
        >Profile 4</a
      >
      <a mat-list-item linkTo="5" linkActive="mat-list-single-selected-option"
        >Profile 5</a
      >
    </mat-nav-list>
  </mat-grid-tile>
</mat-grid-list>
