<h1>{{title}}</h1>
<nav>
  <a linkTo="/dashboard">Dashboard</a>
  <a linkTo="/heroes">Heroes</a>
</nav>
<router>
  <route path="/dashboard">
    <app-dashboard *routeComponent></app-dashboard>
  </route>
  <route path="/detail/:id">
    <app-hero-detail *routeComponent></app-hero-detail>
  </route>
  <route path="/heroes">
    <app-heroes *routeComponent></app-heroes>
  </route>
  <route path="/" redirectTo="/dashboard"></route>
</router>
<app-messages></app-messages>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->